$text-color: #fff;
$bg-color: #3590f3;
$circle-color: $bg-color;
$circle-size: 200px;

* {
  ::selection {
    background: none;
  }
  font-family: sans-serif;
  letter-spacing: -5px;
  cursor: grabbing;
  margin: 0;
  box-sizing: border-box;
  position: absolute;
}
body {
  background: $bg-color;
  overflow: hidden;
  height: 100vh;
}
span {
  width: 100vw;
  padding: 5rem;
  font-size: 5rem;
  font-weight: bold;
  line-height: 4rem;
  text-align: center;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  @media screen and (max-width: 768px) {
    padding: 5px;
    font-size: 3rem;
    line-height: 2.5rem;
  }
  &.filled-text {
    color: $text-color;
    z-index: 0;
  }
  &.outlined-text {
    color: transparent;
    -webkit-text-stroke: 0.5px $text-color;
    z-index: 2;
  }
}

#circle {
  height: $circle-size;
  width: $circle-size;
  border-radius: 50%;
  background: $circle-color;
  border: 20px solid $text-color;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  top: calc(50vh - 100px);
  left: calc(50vw - 100px);
}
